@mixin flex($posicion) {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: $posicion;

}

.contenedor {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.contenedor__opciones {
  @include flex(flex-end);

  button {
    width: 40px !important;
    height: 40px !important;
    border: none;
    outline: none;
    padding: 18px 16px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    @include flex(center);
  }
  // &:nth-child(1){
  //   background-color: green;
  // }
  // &:nth-child(2){
  //   background-color: red;
  // }
  // &:nth-child(3){
  //   background-color: blue;
  // }
}

.contenedor__filtrar {
  @include flex(flex-start);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,
.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid #47A34B;
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 40px;
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  fill: #47A34B;
  border: 1px solid #47A34B;
}

.input:hover+.icon {
  transform: rotate(360deg);
  transition: .2s ease-in-out;
}

.input:focus+.icon,
.input:not(:placeholder-shown)+.icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}