<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div> -->
        <div class="row">
            <div class="col">
                <app-menu-table [rutaEliminar]="rutaEliminar" [path]="path" [dataEdit]="'voluntariosSenForm'" [dataSeleccionada]="dataSeleccionada" [idAprendizBorrar]="idAprendizBorrar" [rutaAgregar]="'/admin/voluntarios-form-inst-col/form-voluntarios-sena-inst-form'"></app-menu-table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">INSTRUCTORES SENA FORMADOS Y ENTRENADOS EN COLOMBIA EN EL MARCO DEL CONVENIO CON VOLUNTARIOS</h4>
                        <p class="card-category">Listas de instructores sena formados y entrenados en colombia en el marco del convenio con voluntarios</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-success">
                                    <th>

                                    </th>
                                    <th>
                                        Objetivo De La Transferencia
                                    </th>
                                    <th>
                                        Nombre Completo
                                    </th>
                                    <th>
                                        Fecha Inicio
                                    </th>
                                    <th>
                                        Fecha Final
                                    </th>
                                    <th>
                                        Convenio
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of voluntarios">
                                        <td>
                                            <input type="checkbox" (change)="actualizarSeleccion(item)"></td>
                                        <td>
                                            {{ item.objetoFormacion }}
                                        </td>
                                        <td>
                                            {{ item.nombre }}
                                        </td>
                                        <td>
                                            {{ item.fechaInicial }}
                                        </td>
                                        <td>
                                            {{ item.fechaFinal }}
                                        </td>
                                        <td class="text-success">
                                            {{ item.convenio.nombre }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-paginator></app-paginator>
            </div>
        </div>
    </div>
</div>