<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <form class="formulario__contenedor" (change)="estadoFormulario()" [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
                    <!-- <div class="formulario__contenedor-controles">
                        <label for="">N"</label>
                        <input type="number">
                    </div> -->
                    <div class="formulario__contenedor-controles">
                        <label>Nombre:</label>
                        <input type="text" formControlName="nombre">
                        <div
                        *ngIf="formulario.get('nombre').invalid && (formulario.get('nombre').dirty || formulario.get('nombre').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Apellido:</label>
                        <input type="text" formControlName="apellido">
                        <div
                        *ngIf="formulario.get('apellido').invalid && (formulario.get('apellido').dirty || formulario.get('apellido').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Documento:</label>
                        <input type="text" formControlName="documento">
                        <div
                        *ngIf="formulario.get('documento').invalid && (formulario.get('documento').dirty || formulario.get('documento').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Programa de Formación:</label>
                        <input type="text" formControlName="programaFormacion">
                        <div
                        *ngIf="formulario.get('programaFormacion').invalid && (formulario.get('programaFormacion').dirty || formulario.get('programaFormacion').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Instructor:</label>
                        <input type="text" formControlName="instructor">
                        <div
                        *ngIf="formulario.get('instructor').invalid && (formulario.get('instructor').dirty || formulario.get('instructor').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Objeto de Transferencia:</label>
                        <input type="text" formControlName="objetoTransferencia">
                        <div
                        *ngIf="formulario.get('objetoTransferencia').invalid && (formulario.get('objetoTransferencia').dirty || formulario.get('objetoTransferencia').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Fecha Inicial:</label>
                        <input type="date" formControlName="fechaInicial">
                        <div
                        *ngIf="formulario.get('fechaInicial').invalid && (formulario.get('fechaInicial').dirty || formulario.get('fechaInicial').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Fecha Final:</label>
                        <input type="date" formControlName="fechaFinal">
                        <div
                        *ngIf="formulario.get('fechaFinal').invalid && (formulario.get('fechaFinal').dirty || formulario.get('fechaFinal').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label class="d-flex" style="gap: 12px;">
                            Convenio:
                            <app-help-icons nz-button [nzTooltipColor]="'#b9daba'" nzTooltipTitle="Nota debe tener un convenio registrado para el envio exitoso" nzTooltipPlacement="top" nz-tooltip></app-help-icons>
                        </label>
                        <select formControlName="convenio">
                            <option [value]="item.id" *ngFor="let item of convenios">{{ item.codigo }}</option>
                        </select>
                        <div
                        *ngIf="formulario.get('convenio').invalid && (formulario.get('convenio').dirty || formulario.get('convenio').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-boton">
                        <button>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>