<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-menu-table [idAprendizBorrar]="idAprendizBorrar" [rutaAgregar]="'/admin/aprendiz-col/form-aprendiz-col'"></app-menu-table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">No. APRENDICES SENA FORMADOS EN COLOMBIA EN EL MARCO DE PROYECTOS INTERNACIONALES</h4>
                        <p class="card-category">Listas de No. aprendices sena formados en colombia en el marco de proyectos internacionales</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-success">
                                    <th>

                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        No. Identificacion
                                    </th>
                                    <th>
                                        Programa Formacion
                                    </th>
                                    <th>
                                        Instructor
                                    </th>
                                    <th>
                                        Objetivo de la transferencia
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Convenio
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of aprendices">
                                        <td>
                                            <input type="checkbox" (change)="actualizarSeleccion(item)"></td>
                                        <td>
                                            {{ item.nombre }}
                                        </td>
                                        <td>
                                            {{ item.documento }}
                                        </td>
                                        <td>
                                            {{ item.programaFormacion }}
                                        </td>
                                        <td>
                                            {{ item.instructor }}
                                        </td>
                                        <td>
                                            {{ item.objetoTransferencia }}
                                        </td>
                                        <td>
                                            {{ item.fechaInicio }}
                                        </td>
                                        <td class="text-success">
                                            {{ item.convenio }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-paginator></app-paginator>
            </div>
        </div>
    </div>
</div>