<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="formulario__contenedor" [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
                    <!-- <div class="formulario__contenedor-controles">
                        <label for="">N"</label>
                        <input type="number">
                    </div> -->
                    <div class="formulario__contenedor-controles">
                        <label>Institucion Formadora:</label>
                        <input type="text" formControlName="institucionFormadoraExt">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Nombre:</label>
                        <input type="text" formControlName="nombre">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Apellido:</label>
                        <input type="text" formControlName="apellido">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Fecha Inicial:</label>
                        <input type="date" formControlName="fechaInicial">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Fecha Final:</label>
                        <input type="date" formControlName="fechaFinal">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Convenio:</label>
                        <input type="text" formControlName="convenio">
                    </div>
                    <div class="formulario__contenedor-boton">
                        <button>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>