<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <form class="formulario__contenedor" (change)="estadoFormulario()" [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
                    <!-- <div class="formulario__contenedor-controles">
                        <label for="">N"</label>
                        <input type="number" formControlName="id">
                    </div> -->
                    <div class="formulario__contenedor-controles">
                        <label for="">Nombre</label>
                        <input type="text" formControlName="nombre">
                        <div
                        *ngIf="formulario.get('nombre').invalid && (formulario.get('nombre').dirty || formulario.get('nombre').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Descripcion</label>
                        <input type="text" formControlName="descripcion">
                        <div
                        *ngIf="formulario.get('descripcion').invalid && (formulario.get('descripcion').dirty || formulario.get('descripcion').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">URL</label>
                        <input type="text" formControlName="url">
                        <div
                        *ngIf="formulario.get('url').invalid && (formulario.get('url').dirty || formulario.get('url').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-boton">
                        <button type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>