.loader{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
  }
  .ant-pagination {
    margin: 16px 20px !important;
}

.ant-switch-checked {
    background-color: #00AE8D !important;
}

::ng-deep .cdk-drag-preview {
    display: table;
}

::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}

/** Botones de paginacion */
::ng-deep .ngx-pagination .current {
    background: #F0FAF8 !important;
    color: #90A0B7 !important;
    padding: 7px 13px !important;
    border: 1px solid #CBD7E5 !important;
    border-radius: 4px !important;
}

::ng-deep .ngx-pagination a,
.ngx-pagination button {
    padding: 7px 12px !important;
    color: #90A0B7 !important;
    border-radius: 4px !important;
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #CBD7E5 !important;
    margin: -1px;
}

::ng-deep .ngx-pagination .disabled {
    padding: 7px 12px !important;
    color: #90A0B7 !important;
    border-radius: 4px !important;
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #CBD7E5 !important;
    margin: -1px;
}
