<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-menu-table [dataSeleccionada]="dataSeleccionada" [idAprendizBorrar]="idAprendizBorrar" [rutaAgregar]="'/admin/aprendiz-ext/form-aprendiz-ext'"></app-menu-table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">MOVILIDAD DE APRENDICES</h4>
                        <p class="card-category">Listas de movilidad de aprendices</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-success">
                                    <th>

                                    </th>
                                    <th>
                                        Pais
                                    </th>
                                    <th>
                                        Institucion Formadora
                                    </th>
                                    <th>
                                        Objetivo Formacion
                                    </th>
                                    <th>
                                        Programa Formacion
                                    </th>
                                    <th>
                                        Nombres Completos
                                    </th>
                                    <th>
                                        Fecha Inicio
                                    </th>
                                    <th>
                                        Fecha Final
                                    </th>
                                    <th>
                                        Convenio
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of aprendices">
                                        <td>
                                            <input type="checkbox" (change)="actualizarSeleccion(item)"></td>
                                        <td>
                                            {{ item.pais.nombre }}
                                        </td>
                                        <td>
                                            {{ item.institucion.nombre }}
                                        </td> 
                                        <td>
                                            {{ item.objetoFormacion }}
                                        </td>
                                        <td>
                                            {{ item.programaFormacion }}
                                        </td>
                                        <td>
                                            {{ item.nombre }}
                                        </td>
                                        <td>
                                            {{ item.fechaInicio }}
                                        </td>
                                        <td>
                                            {{ item.fechaFinal }}
                                        </td>
                                        <td class="text-success">
                                            {{ item.convenio.codigo }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-paginator></app-paginator>
            </div>
        </div>
    </div>
</div>