<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div> -->
        <div class="loader" *ngIf="loading">
            <app-loader></app-loader>
          </div>
        <div class="row">
            <div class="col">
                <app-menu-table [ruta]="ruta" [rutaEliminar]="rutaEliminar" [path]="path" [dataEdit]="'intructoresExt'" [dataSeleccionada]="dataSeleccionada" [idAprendizBorrar]="idAprendizBorrar" [rutaAgregar]="'/admin/instructores-ext/form-instructores-ext'"></app-menu-table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">MOVILIDAD INSTRUCTORES AL EXTERIOR</h4>
                        <p class="card-category">Listas de movilidad instructores al exterior</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-success">
                                    <th>

                                    </th>
                                    <th>
                                        Pais
                                    </th>
                                    <th>
                                        Institucion Receptora
                                    </th>
                                    <th>
                                        Objetivo Formacion / Transferencia
                                    </th>
                                    <th>
                                        Nombre Completo
                                    </th>
                                    <th>
                                        Cordinadora Academica
                                    </th>
                                    <th>
                                        Planta o Contratista
                                    </th>
                                    <th>
                                        Fecha Inicio
                                    </th>
                                    <th>
                                        Fecha Final
                                    </th>
                                    <th>
                                        Convenio
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of instructores | paginate : { id: 'table', itemsPerPage: numberRow, currentPage: page }">
                                        <td>
                                            <input type="checkbox" (change)="actualizarSeleccion(item)"></td>
                                        <td>
                                            {{ item.pais.nombre && item.pais ? item.pais.nombre : 'N/A'}}
                                        </td>
                                        <td>
                                            {{ item.institucion.nombre && item.institucion ? item.institucion.nombre : 'N/A' }}
                                        </td>
                                        <td>
                                            {{ item.nombre }}
                                        </td>
                                        <td>
                                            {{ item.coordinacionAcademica }}
                                        </td>
                                        <td>
                                            {{ item.contratista }}
                                        </td>
                                        <td>
                                            {{ item.fechaInicio }}
                                        </td>
                                        <td>
                                            {{ item.fechaFinal }}
                                        </td>
                                        <td class="text-success">
                                            {{ item.convenio.nombre && item.convenio ? item.convenio.nombre : 'N/A' }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col-sm d-flex justify-content-end pe-4">
                    <pagination-controls id="table" previousLabel="Anterior" nextLabel="Siguiente"
                      (pageChange)="onChangePage($event)" (pageBoundsCorrection)="onChangePage($event)">
                    </pagination-controls>
                  </div>
            </div>
        </div>
    </div>
</div>