<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div> -->
        <div class="loader" *ngIf="loading">
            <app-loader></app-loader>
          </div>
        <div class="row">
            <div class="col">
                <app-menu-table [rutaEliminar]="rutaEliminar" [path]="path" [dataEdit]="'voluntariosInt'" [dataSeleccionada]="dataSeleccionada" [idAprendizBorrar]="idAprendizBorrar" [rutaAgregar]="'/admin/voluntarios-int/form-voluntarios-int'"></app-menu-table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title "> No. EXPERTOS - VOLUNTARIOS DE OTROS PAISES EN EL SENA</h4>
                        <p class="card-category">Listas de  No. expertos - voluntarios de otros paises en el sena</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-success">
                                    <th>

                                    </th>
                                    <th>
                                        Pais
                                    </th>
                                    <th>
                                        Nombre Completo
                                    </th>
                                    <th>
                                        Objetivo
                                    </th>
                                    <th>
                                        Centro Formacion
                                    </th>
                                    <th>
                                        Fecha Inicio
                                    </th>
                                    <th>
                                        Fecha Final
                                    </th>
                                    <th>
                                        Asesor
                                    </th>
                                    <th>
                                        Convenio
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of voluntarios | paginate : { id: 'table', itemsPerPage: numberRow, currentPage: page }">
                                        <td>
                                            <input type="checkbox" (change)="actualizarSeleccion(item)"></td>
                                        <td>
                                            {{ item.pais.nombre && item.pais ? item.pais.nombre : 'N/A'}}
                                        </td>
                                        <td>
                                            {{ item.nombre }}
                                        </td>
                                        <td>
                                            {{ item.objeto }}
                                        </td>
                                        <td>
                                            {{ item.fechaInicio }}
                                        </td>
                                        <td>
                                            {{ item.fechaFinal }}
                                        </td>
                                        <td>
                                            {{ item.asesor.nombre && item.asesor ? item.asesor.nombre : 'N/A' }}
                                        </td>
                                        <td class="text-success">
                                            {{ item.convenio && item.convenio.codigo ? item.convenio.codigo : 'N/A' }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col-sm d-flex justify-content-end pe-4">
                    <pagination-controls id="table" previousLabel="Anterior" nextLabel="Siguiente"
                      (pageChange)="onChangePage($event)" (pageBoundsCorrection)="onChangePage($event)">
                    </pagination-controls>
                  </div>
            </div>
        </div>
    </div>
</div>