<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <form class="formulario__contenedor" [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
                    <!-- <div class="formulario__contenedor-controles">
                        <label for="">N"</label>
                        <input type="number">
                    </div> -->
                    <div class="formulario__contenedor-controles">
                        <label>Objeto:</label>
                        <input type="text" formControlName="objeto">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Cargo:</label>
                        <input type="text" formControlName="cargo">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Dependencia del SENA:</label>
                        <input type="text" formControlName="dependenciaSena">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Fecha de Inicio:</label>
                        <input type="date" formControlName="fechaInicio">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Institucion:</label>
                        <select formControlName="institucion">
                            <option [value]="item.id" *ngFor="let item of institucion">{{ item.nombre }}</option>
                        </select>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Fecha Final:</label>
                        <input type="date" formControlName="fechaFinal">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Asesor</label>
                        <select formControlName="asesor">
                            <option [value]="item.id" *ngFor="let item of asesor">{{ item.nombre }}</option>
                        </select>
                    </div>
                    <div class="formulario__contenedor-boton">
                        <button>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>