<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <form class="formulario__contenedor" (change)="estadoFormulario()" [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
                    <!-- <div class="formulario__contenedor-controles">
                        <label for="">N"</label>
                        <input type="number">
                    </div> -->
                    <div class="formulario__contenedor-controles">
                        <label>Objeto:</label>
                        <input type="text" formControlName="objeto">
                        <div
                        *ngIf="formulario.get('objeto').invalid && (formulario.get('objeto').dirty || formulario.get('objeto').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Nombre:</label>
                        <input type="text" formControlName="nombre">
                        <div
                        *ngIf="formulario.get('nombre').invalid && (formulario.get('nombre').dirty || formulario.get('nombre').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Cargo:</label>
                        <input type="text" formControlName="cargo">
                        <div
                        *ngIf="formulario.get('cargo').invalid && (formulario.get('cargo').dirty || formulario.get('cargo').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Dependencia del SENA:</label>
                        <input type="text" formControlName="dependenciaSena">
                        <div
                        *ngIf="formulario.get('dependenciaSena').invalid && (formulario.get('dependenciaSena').dirty || formulario.get('dependenciaSena').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Fecha de Inicio:</label>
                        <input type="date" formControlName="fechaInicio">
                        <div
                        *ngIf="formulario.get('fechaInicio').invalid && (formulario.get('fechaInicio').dirty || formulario.get('fechaInicio').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="" class="d-flex" style="gap: 12px;">
                            Institucion:
                            <app-help-icons nz-button [nzTooltipColor]="'#b9daba'" nzTooltipTitle="Nota debe tener una institucion registrado para el envio exitoso" nzTooltipPlacement="top" nz-tooltip></app-help-icons>
                        </label>
                        <select formControlName="institucion">
                            <option [value]="item.id" *ngFor="let item of institucion">{{ item.nombre }}</option>
                            <div
                            *ngIf="formulario.get('fechaInicio').invalid && (formulario.get('fechaInicio').dirty || formulario.get('fechaInicio').touched || formularioEnviado)">
                            <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                    class="text-danger">*</span></p>
                        </div>
                        </select>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label>Fecha Final:</label>
                        <input type="date" formControlName="fechaFinal">
                        <div
                        *ngIf="formulario.get('fechaFinal').invalid && (formulario.get('fechaFinal').dirty || formulario.get('fechaFinal').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="" class="d-flex" style="gap: 12px">
                            Asesor
                            <app-help-icons nz-button [nzTooltipColor]="'#b9daba'" nzTooltipTitle="Nota debe tener un asesor registrado para el envio exitoso" nzTooltipPlacement="top" nz-tooltip></app-help-icons>
                        </label>
                        <select formControlName="asesor">
                            <option [value]="item.id" *ngFor="let item of asesor">{{ item.nombre }}</option>
                        </select>
                        <div
                        *ngIf="formulario.get('asesor').invalid && (formulario.get('asesor').dirty || formulario.get('asesor').touched || formularioEnviado)">
                        <p style="font-size: 12px;">Debe seleccionar una opcion valida <span
                                class="text-danger">*</span></p>
                    </div>
                    </div>
                    <div class="formulario__contenedor-boton">
                        <button>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>