<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="formulario__contenedor">
                    <div class="formulario__contenedor-controles">
                        <label for="">N"</label>
                        <input type="number">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Pais</label>
                        <input type="text">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Institucion formadora</label>
                        <input type="text">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Objetivo Formacion</label>
                        <input type="text">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Programa de formacion</label>
                        <input type="text">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Nombre Completos</label>
                        <input type="text">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Fecha Inicio</label>
                        <input type="date">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Fecha Final</label>
                        <input type="date">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Convenio</label>
                        <input type="text">
                    </div>
                    <div class="formulario__contenedor-boton">
                        <button>
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>