<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div> -->
        <div class="loader" *ngIf="loading">
            <app-loader></app-loader>
          </div>
        <div class="row">
            <div class="col">
                <app-menu-table [rutaEliminar]="rutaEliminar" [path]="path" [dataEdit]="'institucion'" [dataSeleccionada]="dataSeleccionada" [idAprendizBorrar]="idAprendizBorrar" [idAprendizBorrar]="idAprendizBorrar" [rutaAgregar]="'/admin/instituciones/instituciones-form'"></app-menu-table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">No. EXPERTOS O FUNCIONARIOS DE OTROS PAISES EN EL SENA - MISIONES
                            OFICIALES</h4>
                        <p class="card-category">Listas de No. Expertos o funcionarios de otros paises en el sena -
                            misiones oficiales</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-success">
                                    <th>

                                    </th>
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        pais
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of institucion | paginate : { id: 'table', itemsPerPage: numberRow, currentPage: page }">
                                        <td>
                                            <input type="checkbox" (change)="actualizarSeleccion(item)">
                                        </td>
                                        <td>
                                            {{ item.codigo }}
                                        </td>
                                        <td>
                                            {{ item.nombre }}
                                        </td>
                                        <td>
                                            {{ item.tipo }}
                                        </td>
                                        <td>
                                            {{ item.pais.nombre }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col-sm d-flex justify-content-end pe-4">
                    <pagination-controls id="table" previousLabel="Anterior" nextLabel="Siguiente"
                      (pageChange)="onChangePage($event)" (pageBoundsCorrection)="onChangePage($event)">
                    </pagination-controls>
                  </div>
            </div>
        </div>
    </div>
</div>