.formulario__contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.formulario__contenedor-controles {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
        border-left: 3px solid #47A34B;
        padding-left: 10px;
    }

    input, select {
        width: 100%;
        height: 40px;
        padding: 12px;
        font-size: 13px;
        border-radius: 8px;
        border: 1.5px solid lightgrey;
        outline: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0px 0px 20px -18px;

        &:hover {
            border: 2px solid lightgrey;
            box-shadow: 0px 0px 20px -17px;
        }

        &:active {
            transform: scale(0.99);
        }

        &:focus {
            border: 2px solid #47A34B;
        }
    }
}

.formulario__contenedor-boton {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        color: white;
        width: 150px;
        line-height: 50px;
        font-size: 12px;
        letter-spacing: 2px;
        border: none;
        border-radius: 0px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #47A34B;
        box-shadow: 0px 15px 18px -6px #47A34B;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        position: relative;

        &:hover {
            background-color: #47A34B;
            box-shadow: 0px 22px 19px -8px #47A34B;
            transform: scale(1.02, 1.02);
        }

        &:active {
            background-color: #47A34B;
            box-shadow: 0px 12px 18px -4px #47A34B;
            transform: scale(0.95, 0.95);
            transition: all 0.4s -0.125s;
        }
    }
}

@media screen and (min-width: 480px) {
    .formulario__contenedor-controles {
        max-width: 300px;
    }
}