<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <form class="formulario__contenedor" [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
                    <!-- <div class="formulario__contenedor-controles">
                        <label for="">N"</label>
                        <input type="number" formControlName="id">
                    </div> -->
                    <div class="formulario__contenedor-controles">
                        <label for="">Usuario</label>
                        <input type="email" formControlName="username">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Contraseña</label>
                        <input type="password" formControlName="password">
                    </div>
                    <div class="formulario__contenedor-controles">
                        <label for="">Autorizacion</label>
                        <input type="text" formControlName="authority">
                    </div>
                    <div class="formulario__contenedor-boton">
                        <button type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>